[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/js0mmer/Desktop/dotfiles]
row=0
col=21

[/home/js0mmer/Desktop/dotfiles2]
row=1
col=21

[/home/js0mmer/Desktop/problem5-1.pdf]
row=2
col=21

[/home/js0mmer/Desktop/my-dotfiles]
row=3
col=21

